{% if message %}
<div class=message>{{ message }}</div>
{% endif %}
<form action=/addProjectStage method=post>
<table border=1>
<tr><td>Project:</td><td><select name=project>
{% for oneProject in projects %}
    <option value='{{ oneProject.name }}'>{{ oneProject.name }}</option>
{% endfor %}
</select></td></tr>
<tr><td>Unique name :</td><td><input type=text name=name></td></tr>
<tr><td>Stage label :</td><td><input type=text name=label></td></tr>
<tr><td>Packet name :</td><td><input type=text name=facet></td></tr>
<tr><td>Default stage :</td><td><input type=checkbox name=defaultStage value='yes'></td></tr>
<tr><td colspan=2><input type=submit></td></tr>
</table>
</form>