<html>
<head>
<title>
Add a new project
</title></head><body>
{% if message %}
<div class=message>{{ message }}</div>
{% endif %}
<form action={{ uploadLink }} method=post enctype="multipart/form-data">
<table border=1>
<tr><td>Avatar :</td><td><input type=file name=picture></td></tr>
<tr><td>Anthill Pro project :</td><td><input type=text name=name></td></tr>
<tr><td>Project Label :</td><td><input type=text name=label></td></tr>
<tr><td colspan=2><input type=submit></td></tr>
</table>
</form>
</body></html>