{% if message %}
<h1>{{ message }}</h1>
{% endif %}
<a href=/addProject>Add a new project</a>
<a href=/addProjectStage>Add a new project stage</a>
{% for oneproject in projects %}
<h1>{{ oneproject.details.label }}</h1>
<h2>
<form action=# method=post>
{% for oneStage in oneproject.stages %}
	<input type=radio name=newDefault value={{ oneproject.name }}_{{ oneStage.name }} id=def_{{ oneproject.name }}_{{ oneStage.name }}{% if oneStage.isDefault %} checked{% endif %}><label for=def_{{ oneproject.name }}_{{ oneStage.name }}>{{ oneStage.label }}</label>
	{% if oneStage.isDefault %}
		<input type=hidden name=currentDefault value={{ oneproject.name }}_{{ oneStage.name }}>
	{% endif %}
{% endfor %}
<input type=submit value='Change default version'>
</form>
</h2>
	<ul>
	{% for oneStage in oneproject.stages %}
		<li> {{ oneStage.name }}
		<form action=# method=post>
		<table border=1>
		<input type=hidden name=key value={{ oneproject.name }}_{{ oneStage.name }}>
		<tr><td>Label</td><td><input type=text name=label value='{{ oneStage.label }}'></td></tr>
		<tr><td>Package name</td><td><input type=text name=facet value='{{ oneStage.facet }}'></td></tr>
		<tr><td>Active</td><td><input type=checkbox name=active value='yes'{% if oneStage.active %} checked{% endif %}{% if oneStage.isDefault %} disabled{% endif %}>{% if oneStage.isDefault %} can't change the active state of the default version{% endif %}</td></tr>
		<tr><td colspan=2><input type=submit></td></tr>
		</table>
		</form>
		</li>
	{% endfor %}
	</ul>
{% endfor %}